:host * {
    transition: all 500ms ease-in-out;

}

.menu-item {
    border-radius: 0;
}

.selected-menu-item {
    border-left-color: rgb(99, 30, 99);
    background: rgb(240, 226, 240) !important;
}

.indented {
    --mat-list-list-item-leading-icon-start-space: 48px;
}